{% extends 'base.html.twig' %}

{% block title %}Tickets{% endblock %}

{% block body %}
  {% if tickets %}
    <table id="tickets" class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Statut</th>
          <th scope="col">Titre</th>
          <th scope="col">Technicien</th>
          <th scope="col">Demandeur</th>
          <th scope="col">Lieu</th>
          <th scope="col">Date d'échéance</th>
          <th scope="col">Priorité</th> 
          <th scope="col">Actions</th> 
        </tr>
      </thead>
      <tbody>
        {% for ticket in tickets %}
          <tr>
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.statut }}</td>
            <td>{{ ticket.titre }}</td>
            <td>{{ ticket.personel.nom|default('')}}</td>
            <td>{{ ticket.client.nom }}</td>
            <td>{{ticket.client.adresse}}</td>
            <td>{{ ticket.dateecheance|date('Y-m-d')}}</td>           
            <td>{{ticket.priorite}}</td>
            <td>
              <a href="/ticket/{{ ticket.id }}" class="btn btn-dark">Show</a>
              <a href="/ticket/edit/{{ ticket.id }}" class="btn btn-primary">Edit</a>
              <a href="/ticket/delete/{{ ticket.id }}" class="btn btn-danger delete-ticket" data-id="{{ ticket.id }}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No tickets to display</p>
  {% endif %}
{% endblock %}

{% block javascripts %}
  <script src="/js/main.js"></script>
{% endblock %}